<footer id="footer">
    <ul class="info">
        <li><div class="image"><img src="images/logo_with_signature_long_alt.png" height=150 ="" /></div></li>
        <li><div class="align-center">KONTAKT</div>
            <br>+48 733 319 724<br>kontakt.wjeka@gmail.com<br>ul. Żeleńskiego 45<br>Gdańsk<br><br></li>
        <li><a href="polityka_prywatnosci_i_regulamin.html#regulamin">Regulamin</a><br><a href="polityka_prywatnosci_i_regulamin.html#polityka_prywatnosci">Polityka prywatności</a><br>
        <a href="assets/pdfs/RODO.pdf">RODO</a><br><br></li>
        <li><div class="image"><img src="images/jestes-u-siebie.png" height=150 ="" /></div></li>
    </ul>
    <ul class="icons">
        <li><a href="https://wa.me/48733319724" class="icon brands fa-whatsapp"><span class="label">Whatsapp</span></a></li>
        <li><a href="mailto:kontakt.wjeka@gmail.com?subject=Zapytnie dotyczące oferty" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        <li><a href="tel:+48 733 319 724" class="icon solid fa-phone-alt"><span class="label">Phone</span></a></li>
    </ul>
    <ul class="copyright">
        <li>Design: <a href="https://github.com/anytokin">Dawid Konrad Kohnke</a>
    </ul>
</footer>
</div>         

<!-- Scripts -->
<script src="scripts/load-partials.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>