<header id="header" class="alt">
    <h1><a href="./">WERONIKA JEKA</h1>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                <div id="menu">
                    <ul>
                        <li><a href="./">HOME</a></li>
                        <li><a href="o_mnie.html">O MNIE</a></li>
                        <li><a href="oferta.html">OFERTA</a></li>
                        <li><b><a href="kontakt.html">Kontakt</a></b></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>